# Caller History


Given a phone log table that has information about callers' call history, find out the callers whose first and last calls were to the same person on a given day. Output the caller ID, recipient ID, and the date called.

In [1]:
import pandas as pd
import numpy as np
q=pd.read_csv('caller_history.csv')
q

    caller_id  recipient_id     date_called
0           1             2   1/1/2022 9:00
1           1             3  1/1/2022 17:00
2           1             4  1/1/2022 23:00
3           2             5   7/5/2022 9:00
4           2             5  7/5/2022 17:00
5           2             3  7/5/2022 23:00
6           2             5  7/6/2022 17:00
7           2             3   8/1/2022 9:00
8           2             3  8/1/2022 17:00
9           2             4   8/2/2022 9:00
10          2             5  8/2/2022 10:00
11          2             4  8/2/2022 11:00

In [4]:
q.date_called=pd.to_datetime(q.date_called)

In [16]:
first_call_tab=q.groupby('caller_id').date_called.min().reset_index(name='first_call')
first_call_tab

   caller_id          first_call
0          1 2022-01-01 09:00:00
1          2 2022-07-05 09:00:00

In [14]:
last_call_tab=q.groupby('caller_id').date_called.max().reset_index(name='last_call')
last_call_tab

   caller_id           last_call
0          1 2022-01-01 23:00:00
1          2 2022-08-02 11:00:00

In [24]:
first_call_rep=first_call_tab.merge(q,left_on='first_call',right_on='date_called',how='left').drop(columns=['caller_id_y','date_called'])
first_call_rep

   caller_id_x          first_call  recipient_id
0            1 2022-01-01 09:00:00             2
1            2 2022-07-05 09:00:00             5

In [25]:
last_call_rep=last_call_tab.merge(q,left_on='last_call',right_on='date_called',how='left').drop(columns=['caller_id_y','date_called'])
last_call_rep

   caller_id_x           last_call  recipient_id
0            1 2022-01-01 23:00:00             4
1            2 2022-08-02 11:00:00             4

In [29]:
pd.merge(first_call_rep,last_call_rep,on='caller_id_x').rename(columns={'recipient_id_x':'first_recipient',
                                                                        'recipient_id_y':'last_recipient',
                                                                       'caller_id_x':'caller_id'})

,caller_id,first_call,first_recipient,last_call,last_recipient
0,1,2022-01-01 09:00:00,2,2022-01-01 23:00:00,4
1,2,2022-07-05 09:00:00,5,2022-08-02 11:00:00,4