# Lowest Revenue Generated Restaurants



Write a query that returns a list of the bottom 2% revenue generating restaurants. Return a list of restaurant IDs and their total revenue from when customers placed orders in May 2020.


You can calculate the total revenue by summing the order_total column. And you should calculate the bottom 2% by partitioning the total revenue into evenly distributed buckets.

In [3]:
import pandas as pd
q=pd.read_table('doordash_delivery.txt')
q[['customer_placed_order_datetime','placed_order_with_restaurant_datetime','driver_at_restaurant_datetime','delivered_to_consumer_datetime']]=q[['customer_placed_order_datetime','placed_order_with_restaurant_datetime','driver_at_restaurant_datetime','delivered_to_consumer_datetime']].apply(pd.to_datetime)
q

,customer_placed_order_datetime,placed_order_with_restaurant_datetime,driver_at_restaurant_datetime,delivered_to_consumer_datetime,driver_id,restaurant_id,consumer_id,is_new,delivery_region,is_asap,order_total,discount_amount,tip_amount,refunded_amount
0,2020-05-25 16:36:00,2020-05-25 18:17:00,NaT,2020-05-25 18:47:00,257,154,190327,True,San Jose,False,36.99,6,1.42,0.0
1,2020-05-02 16:32:00,2020-05-02 17:59:00,NaT,2020-05-02 18:50:00,168,297,12420,False,San Jose,False,32.71,0,3.67,0.0
2,2020-05-24 16:38:00,2020-05-24 20:03:00,2020-05-24 20:37:00,2020-05-24 20:49:00,290,201,106412,True,San Jose,False,33.35,6,1.25,0.0
3,2020-05-17 17:34:00,2020-05-17 18:01:00,2020-05-17 18:09:00,2020-05-17 18:35:00,232,188,104751,False,San Jose,False,33.02,6,2.48,0.0
4,2020-05-24 17:40:00,2020-05-24 18:04:00,NaT,2020-05-24 18:51:00,290,135,13641,True,San Jose,False,24.49,6,2.45,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,2020-05-21 16:29:00,2020-05-21 17:36:00,2020-05-21 18:26:00,2020-05-21 18:37:00,320,8,110738,True,Palo Alto,False,38.57,6,1.49,0.0
92,2020-05-04 00:11:00,2020-05-04 00:28:00,2020-05-04 00:52:00,2020-05-04 01:21:00,313,28,8336,False,Palo Alto,False,48.74,0,2.44,0.0
93,2020-05-27 01:28:00,2020-05-27 01:44:00,NaT,2020-05-27 02:22:00,299,48,193268,False,Palo Alto,True,47.16,6,1.89,0.0
94,2020-05-23 00:27:00,2020-05-23 00:27:00,2020-05-23 00:35:00,2020-05-23 00:53:00,222,20,2978,False,Palo Alto,True,42.87,0,2.14,0.0
95,2020-05-13 00:00:00,2020-05-13 00:01:00,NaT,2020-05-13 00:29:00,170,98,5252,False,Mountain View,True,42.87,0,2.14,0.0

In [9]:
sale_per_res=q.groupby('restaurant_id').order_total.sum().reset_index(name='total_sales').sort_values(by='total_sales')
sale_per_res

    restaurant_id  total_sales
30             90        14.16
9              26        14.65
64            298        15.27
26             83        16.33
13             43        17.36
..            ...          ...
68            356       169.80
3               9       184.08
55            247       193.34
8              20       323.80
5              11       673.75

[70 rows x 2 columns]

In [14]:
sale_per_res['total_sales_perc']=(sale_per_res.total_sales/sale_per_res.total_sales.sum()*100).round(2)

In [18]:
sale_per_res['total_sales_perc_cum']=sale_per_res.total_sales_perc.cumsum()

In [21]:
sale_per_res[sale_per_res.total_sales_perc_cum<2]

    restaurant_id  total_sales  total_sales_perc  total_sales_perc_cum
30             90        14.16              0.28                  0.28
9              26        14.65              0.29                  0.57
64            298        15.27              0.30                  0.87
26             83        16.33              0.32                  1.19
13             43        17.36              0.34                  1.53
14             44        19.00              0.37                  1.90