# Extremely Late Delivery
A delivery is flagged as extremely late if its actual delivery time is more than 20 minutes after its predicted delivery time. In each month, what percentage of placed orders were extremely late?
Output the month in a YYYY-MM format and the corresponding proportion of the extremely late orders as the percentage of all orders placed in this month.

In [1]:
import pandas as pd
import numpy as np
q = pd.read_csv('delivery_orders.csv')

In [2]:
# change multiple columns into datetime
q.iloc[:,1:4].apply(pd.to_datetime)
q.iloc[:,1:4]=q.iloc[:,1:4].apply(pd.to_datetime)

In [3]:
# change the datatype into datetime with format 'YYYY-MM'
q['month']=q['order_placed_time'].dt.strftime('%Y-%m')

In [4]:
# Calculate the difference between two dates in minutes
(q['actual_delivery_time']-q['predicted_delivery_time']).dt.total_seconds()/60
q['comparing']=(q['actual_delivery_time']-q['predicted_delivery_time']).dt.total_seconds()/60

In [5]:
# filter with the codition later than 20 minutes
x=q[q['comparing']>20].groupby('month')['delivery_id'].count().reset_index().rename(columns={'delivery_id':'total_late_deliveries'})

In [6]:
y=q.groupby('month')['delivery_id'].count().reset_index().rename(columns={'delivery_id':'total_deliveries'})

In [7]:
z=pd.merge(x,y)

In [8]:
z['percentage']=(z['total_late_deliveries']/z['total_deliveries']*100).round()

In [9]:
z

     month  total_late_deliveries  total_deliveries  percentage
0  2021-11                      4                13        31.0
1  2021-12                      2                16        12.0
2  2022-01                      4                11        36.0
3  2022-02                      1                10        10.0