# Host Response Rates With Cleaning Fees


Find the average host response rate with a cleaning fee for each zipcode. Present the results as a percentage along with the zip code value.
Convert the column 'host_response_rate' from TEXT to NUMERIC using type casts and string processing (take missing values as NULL).
Order the result in ascending order based on the average host response rater after cleaning.

In [37]:
import pandas as pd
import numpy as np
q=pd.read_csv('airbnb_search_details.csv')
q

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,NYC,t,89%,2015-18-11,East Harlem,3,87.0,10029,0,1
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,LA,f,100%,10/9/2016,Valley Glen,14,91.0,91606,1,1
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,SF,t,100%,2013-26-12,Richmond District,117,96.0,94118,1,1
3,1786412,448.86,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,strict,True,NYC,t,93%,11/5/2010,Williamsburg,8,86.0,11211,1,1
4,14575777,506.89,Villa,Private room,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,2,Real Bed,strict,True,LA,t,70%,2015-22-10,NaN,2,100.0,90703,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,20257960,478.75,House,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1,Real Bed,flexible,False,LA,t,NaN,6/3/2013,Mid-Wilshire,0,NaN,90035,1,1
156,4559312,510.59,Apartment,Entire home/apt,"{Internet,""Wireless Internet"",""Air conditionin...",4,1,Real Bed,strict,False,NYC,t,NaN,6/3/2013,Harlem,2,80.0,10026,2,2
157,2165604,368.89,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,moderate,True,NYC,t,100%,2016-14-03,Harlem,7,94.0,10039,1,1
158,18385413,409.43,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,flexible,False,NYC,f,NaN,4/6/2014,Harlem,18,91.0,10030,0,1
159,9470528,477.91,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,moderate,True,NYC,t,100%,2/10/2015,Harlem,5,88.0,10027,0,2

In [38]:
# extract number from a column
q.host_response_rate.str.extract('(\d+)%')

       0
0     89
1    100
2    100
3     93
4     70
..   ...
155  NaN
156  NaN
157  100
158  NaN
159  100

[160 rows x 1 columns]

In [39]:
# add a new column 'host_response_rate'
q['host_response_rate1']=q.host_response_rate.str.extract('(\d+)%')

In [44]:
# change datatype into number
q.host_response_rate1=q.host_response_rate1.apply(pd.to_numeric)

In [46]:
# find the average host response rate per each zipcode
q[q.cleaning_fee==True].groupby('zipcode').host_response_rate1.mean().round(1).reset_index(name='avg_host_response_rate')

    zipcode  avg_host_response_rate
0      2125                   100.0
1     10003                     NaN
2     10009                   100.0
3     10026                   100.0
4     10027                    88.4
..      ...                     ...
67    91604                     NaN
68    91780                   100.0
69    94102                     NaN
70    94110                    90.0
71    94118                   100.0

[72 rows x 2 columns]