# Growth of Airbnb

Estimate the growth of Airbnb each year using the number of hosts registered as the growth metric. The rate of growth is calculated by taking ((number of hosts registered in the current year - number of hosts registered in the previous year) / the number of hosts registered in the previous year) * 100.
Output the year, number of hosts in the current year, number of hosts in the previous year, and the rate of growth. Round the rate of growth to the nearest percent and order the result in the ascending order based on the year.
Assume that the dataset consists only of unique hosts, meaning there are no duplicate hosts listed.

In [9]:
import pandas as pd
import numpy as np
q=pd.read_table('airbnb_search_details.txt')
q

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,NYC,t,89%,2015-18-11,East Harlem,3,87.0,10029,0,1
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,LA,f,100%,2016-10-09,Valley Glen,14,91.0,91606,1,1
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,SF,t,100%,2013-26-12,Richmond District,117,96.0,94118,1,1
3,1786412,448.86,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,strict,True,NYC,t,93%,2010-11-05,Williamsburg,8,86.0,11211,1,1
4,14575777,506.89,Villa,Private room,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,2,Real Bed,strict,True,LA,t,70%,2015-22-10,NaN,2,100.0,90703,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,20257960,478.75,House,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1,Real Bed,flexible,False,LA,t,NaN,2013-06-03,Mid-Wilshire,0,NaN,90035,1,1
156,4559312,510.59,Apartment,Entire home/apt,"{Internet,""Wireless Internet"",""Air conditionin...",4,1,Real Bed,strict,False,NYC,t,NaN,2013-06-03,Harlem,2,80.0,10026,2,2
157,2165604,368.89,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,moderate,True,NYC,t,100%,2016-14-03,Harlem,7,94.0,10039,1,1
158,18385413,409.43,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,flexible,False,NYC,f,NaN,2014-04-06,Harlem,18,91.0,10030,0,1
159,9470528,477.91,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,moderate,True,NYC,t,100%,2015-02-10,Harlem,5,88.0,10027,0,2

In [17]:
q['year']=q.host_since.str[:4].apply(pd.to_numeric)
q

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds,year
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,...,t,89%,2015-18-11,East Harlem,3,87.0,10029,0,1,2015
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,...,f,100%,2016-10-09,Valley Glen,14,91.0,91606,1,1,2016
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,...,t,100%,2013-26-12,Richmond District,117,96.0,94118,1,1,2013
3,1786412,448.86,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,strict,True,...,t,93%,2010-11-05,Williamsburg,8,86.0,11211,1,1,2010
4,14575777,506.89,Villa,Private room,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,2,Real Bed,strict,True,...,t,70%,2015-22-10,NaN,2,100.0,90703,3,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,20257960,478.75,House,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1,Real Bed,flexible,False,...,t,NaN,2013-06-03,Mid-Wilshire,0,NaN,90035,1,1,2013
156,4559312,510.59,Apartment,Entire home/apt,"{Internet,""Wireless Internet"",""Air conditionin...",4,1,Real Bed,strict,False,...,t,NaN,2013-06-03,Harlem,2,80.0,10026,2,2,2013
157,2165604,368.89,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,moderate,True,...,t,100%,2016-14-03,Harlem,7,94.0,10039,1,1,2016
158,18385413,409.43,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,flexible,False,...,f,NaN,2014-04-06,Harlem,18,91.0,10030,0,1,2014
159,9470528,477.91,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",2,1,Real Bed,moderate,True,...,t,100%,2015-02-10,Harlem,5,88.0,10027,0,2,2015

In [21]:
q.groupby('year')['id'].count().reset_index().rename(columns={'id':'total_new_users'})
q=q.groupby('year')['id'].count().reset_index().rename(columns={'id':'total_new_users'})
q

   year  total_new_users
0  2009                2
1  2010                4
2  2011                9
3  2012               10
4  2013               30
5  2014               33
6  2015               33
7  2016               28
8  2017               11

In [34]:
q['total_new_users_last_year']=q['total_new_users'].shift(1)
q['Growhth_rate']=((q['total_new_users']-q['total_new_users_last_year'])/q['total_new_users']*100).round(0)
q

   year  total_new_users  total_new_users_last_year  Growhth_rate
0  2009                2                        NaN           NaN
1  2010                4                        2.0          50.0
2  2011                9                        4.0          56.0
3  2012               10                        9.0          10.0
4  2013               30                       10.0          67.0
5  2014               33                       30.0           9.0
6  2015               33                       33.0           0.0
7  2016               28                       33.0         -18.0
8  2017               11                       28.0        -155.0