# Find the number of police officers, firefighters, and medical staff employees

Find the number of police officers (job title contains substring police), firefighters (job title contains substring fire), and medical staff employees (job title contains substring medical) based on the employee name.
Output each job title along with the corresponding number of employees.

In [75]:
import pandas as pd
import numpy as np
q=pd.read_csv('sf_public_salaries.csv')

In [76]:
q.jobtitle.str.contains('Sergeant|POLICE|Firefighter|Nurse').value_counts()

False    122
True      78
Name: jobtitle, dtype: int64

In [77]:
q=q[q.jobtitle.str.contains('Sergeant|POLICE|Firefighter|Nurse')]

In [78]:
q.groupby('jobtitle').count()['employeename'].reset_index().rename(columns={'employeename':'total employees'})
q=q.groupby('jobtitle').count()['employeename'].reset_index().rename(columns={'employeename':'total employees'})

In [79]:
q.iloc

                          jobtitle  total employees
0  CAPTAIN III (POLICE DEPARTMENT)                5
1        EMT/Paramedic/Firefighter               16
2                      Firefighter                5
3                 Registered Nurse               21
4                       Sergeant 3                8
5                    Special Nurse               23

In [61]:
Firefighter = q.iloc[1,:] + q.iloc[2,:]
Firefightter = {'Firefightter':Firefighter.reset_index().iloc[1,1]}

In [67]:
Police = q.iloc[0,:] + q.iloc[4,:]
Police = {'Police':Police.reset_index().iloc[1,1]}

In [62]:
Nurse = q.iloc[3,:] + q.iloc[5,:]
Nurse = {'Nurse':Nurse.reset_index().iloc[1,1]}

In [66]:
Firefighter = q.iloc[1,:] + q.iloc[2,:]
Firefighter.reset_index()

             index                                     0
0         jobtitle  EMT/Paramedic/FirefighterFirefighter
1  total employees                                    21

In [69]:
Firefighter = q.iloc[1,:] + q.iloc[2,:]
Police = q.iloc[0,:] + q.iloc[4,:]
Nurse = q.iloc[3,:] + q.iloc[5,:]

In [71]:
Firefighter = Firefighter.reset_index()
Police = Police.reset_index()
Nurse = Nurse.reset_index()

In [73]:
result = [Firefighter,Police,Nurse]

In [74]:
pd.concat(result)

             index                                          0
0         jobtitle       EMT/Paramedic/FirefighterFirefighter
1  total employees                                         21
0         jobtitle  CAPTAIN III (POLICE DEPARTMENT)Sergeant 3
1  total employees                                         13
0         jobtitle              Registered NurseSpecial Nurse
1  total employees                                         44