# Viewers Turned Streamers


From users who had their first session as a viewer, how many streamer sessions have they had? Return the user id and number of sessions in descending order. In case there are users with the same number of sessions, order them by ascending user id.

In [3]:
import pandas as pd
q=pd.read_table('twitch_sessions.txt')
q[['session_start','session_end']]=q[['session_start','session_end']].apply(pd.to_datetime)
q

   user_id       session_start         session_end  session_id session_type
0        0 2020-08-11 05:51:31 2020-08-11 05:54:45         539     streamer
1        2 2020-07-11 03:36:54 2020-07-11 03:37:08         840     streamer
2        3 2020-11-26 11:41:47 2020-11-26 11:52:01         848     streamer
3        1 2020-11-19 06:24:24 2020-11-19 07:24:38         515       viewer
4        2 2020-11-14 03:36:05 2020-11-14 03:39:19         646       viewer
5        0 2020-03-11 03:01:40 2020-03-11 03:01:59         782     streamer
6        0 2020-08-11 03:50:45 2020-08-11 03:55:59         815       viewer
7        3 2020-10-11 22:15:14 2020-10-11 22:18:28         630       viewer
8        1 2020-11-20 06:59:57 2020-11-20 07:20:11         907     streamer
9        2 2020-07-11 14:32:19 2020-07-11 14:42:33         949       viewer

In [9]:
# find the first session time for each user id
first_session=q.groupby('user_id').session_start.min().reset_index(name='firt_session_time')

In [12]:
# add the session type info into the aboved tables
first_session_info=first_session.merge(q,left_on='firt_session_time',right_on='session_start')
first_session_info

,user_id_x,firt_session_time,user_id_y,session_start,session_end,session_id,session_type
0,0,2020-03-11 03:01:40,0,2020-03-11 03:01:40,2020-03-11 03:01:59,782,streamer
1,1,2020-11-19 06:24:24,1,2020-11-19 06:24:24,2020-11-19 07:24:38,515,viewer
2,2,2020-07-11 03:36:54,2,2020-07-11 03:36:54,2020-07-11 03:37:08,840,streamer
3,3,2020-10-11 22:15:14,3,2020-10-11 22:15:14,2020-10-11 22:18:28,630,viewer

In [36]:
# find users who first time uses the website as the viewer
view_id=first_session_info[first_session_info.session_type=='viewer'].user_id_x.values

In [48]:
# filter user id which only in the above results
flag=[]
for i in q.user_id.values:
    if i in view_id:
        flag.append(True)
    else:
        flag.append(False)
flag

[False, False, True, True, False, False, False, True, True, False]

In [49]:
q['flag']=flag

In [53]:
q[q.flag==True].groupby('user_id').session_type.count()

user_id
1    2
3    2
Name: session_type, dtype: int64