# Year Over Year Churn

Find how the number of drivers that have churned changed in each year compared to the previous one. Output the year (specifically, you can use the year the driver left Lyft) along with the corresponding number of churns in that year, the number of churns in the previous year, and an indication on whether the number has been increased (output the value 'increase'), decreased (output the value 'decrease') or stayed the same (output the value 'no change').

In [97]:
import pandas as pd
import numpy as np
q=pd.read_csv('lyft_drivers.csv')
pd.set_option('display.max_row',500)

In [75]:
# change columns into datetime
q[['start_date','end_date']]=q[['start_date','end_date']].apply(pd.to_datetime)

In [76]:
# add a 'year' column equal to the year of start date
q['year']=q.start_date.dt.year

In [77]:
# replace values which contains end_date values with the year of end_date columns
q.loc[q.end_date.notnull(),'year']=q.loc[q.end_date.notnull(),'end_date'].dt.year

In [78]:
# find the total salary per years
q=q.groupby('year').yearly_salary.sum().reset_index(name='total_salary')

In [85]:
# adding a new column
q['flag']=None

In [95]:
# set values as the 3 coditions below:
q.loc[q.total_salary<q.total_salary.shift(),'flag']='decrease'
q.loc[q.total_salary>q.total_salary.shift(),'flag']='increase'
q.loc[q.total_salary==q.total_salary.shift(),'flag']='stayed'

In [96]:
q

   year  total_salary      flag
0  2015        670761      None
1  2016        725620  increase
2  2017       1386877  increase
3  2018       2788132  increase
4  2019        435406  decrease