# Make a pivot table to find the highest payment in each year for each employee

Make a pivot table to find the highest payment in each year for each employee.
Find payment details for 2011, 2012, 2013, and 2014.
Output payment details along with the corresponding employee name.
Order records by the employee name in ascending order

In [4]:
import pandas as pd
import numpy as np
q=pd.read_csv('sf_public_salaries.csv')

In [5]:
# find the highest payment in each year for each employee
q['max_totalpaybenefits']=q.groupby('year')['totalpaybenefits'].transform('max')

In [9]:
# sort out with this codition to find the result
q[q['totalpaybenefits']==q['max_totalpaybenefits']].iloc[:,0:-4].sort_values(by='employeename',ascending=True)

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year
65,76558,Kathryn Waaland,Sergeant 3,141389.04,4981.45,2832.11,40661.65,149202.60,189864.25,2013
164,39202,Lawrence Chan,Sergeant 3,135977.76,7718.70,7733.28,38259.83,151429.74,189689.57,2012
100,113634,Mark F Obrochta,Sergeant 3,137982.17,9196.03,5670.36,43038.50,152848.56,195887.06,2014
194,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011