# Find Products


Find product ids whose average sales price is at least $3 and that are sold at least 2 times? Output product id and their brand.

In [3]:
import pandas as pd
p=pd.read_table('facebook_products.txt')

In [4]:
s=pd.read_table('facebook_sales.txt')

In [7]:
s.date=pd.to_datetime(s.date)

In [12]:
# selling time of each product ids
ps=s.groupby('product_id').product_id.count().reset_index(name='selling_time')

In [24]:
# average sales price of each product ids
ap=s.groupby('product_id').cost_in_dollars.mean().reset_index(name='avg_price')

In [26]:
q=pd.merge(ps,ap)

In [32]:
q[(q.avg_price>=3)&(q.selling_time>=2)].merge(p)[['product_id','brand_name']]

   product_id brand_name
0           2  Fort West
1           3  Fort West
2           5     Golden
3           6  Lucky Joe