# Maximum Number of Employees Reached

Write a query that returns every employee that has ever worked for the company. For each employee, calculate the greatest number of employees that worked for the company during their tenure and the first date that number was reached. The termination date of an employee should not be counted as a working day.


Your output should have the employee ID, greatest number of employees that worked for the company during the employee's tenure, and first date that number was reached.

In [195]:
import pandas as pd
import numpy as np
q=pd.read_csv('uber_employees.csv')
pd.set_option('display.max_rows',500)

In [196]:
# change the type of date columns and sort by the hire_date
q[['hire_date','termination_date']]=q[['hire_date','termination_date']].apply(pd.to_datetime)
q=q.sort_values(by='hire_date',ascending=True)

In [197]:
# find the greatest number of employees that worked for the company during the employee's tenure
q['number_employee']=q.groupby('hire_date')['id'].cummax()

In [198]:
# self join to find which date has the employee leave
pd.merge(q,q,left_on='hire_date',right_on='termination_date',how='left')
q=pd.merge(q,q,left_on='hire_date',right_on='termination_date',how='left')
q.sort_values(by='hire_date_x')

,first_name_x,last_name_x,id_x,hire_date_x,termination_date_x,salary_x,number_employee_x,first_name_y,last_name_y,id_y,hire_date_y,termination_date_y,salary_y,number_employee_y
0,Bob,Smith,1,2009-02-03,2016-01-01,10000,1,NaN,NaN,NaN,NaT,NaT,NaN,NaN
1,Joe,Jarrod,2,2009-02-03,NaT,20000,2,NaN,NaN,NaN,NaT,NaT,NaN,NaN
2,Nancy,Soley,3,2009-02-03,NaT,30000,3,NaN,NaN,NaN,NaT,NaT,NaN,NaN
3,Kelly,Smalls,5,2009-02-03,NaT,20000,5,NaN,NaN,NaN,NaT,NaT,NaN,NaN
4,Keith,Widjaja,4,2009-04-15,2014-01-01,20000,4,NaN,NaN,NaN,NaT,NaT,NaN,NaN
5,Frank,Nguyen,6,2009-06-20,2015-05-01,60000,6,NaN,NaN,NaN,NaT,NaT,NaN,NaN
6,Moe,Down,7,2009-07-20,2017-04-15,83668,7,NaN,NaN,NaN,NaT,NaT,NaN,NaN
7,Joe,Carlos,8,2009-08-13,NaT,24133,8,NaN,NaN,NaN,NaT,NaT,NaN,NaN
8,Karen,Adam,9,2009-09-25,NaT,73794,9,NaN,NaN,NaN,NaT,NaT,NaN,NaN
9,Smith,John,10,2009-10-09,NaT,40658,10,NaN,NaN,NaN,NaT,NaT,NaN,NaN
10,Nataly,Joe,11,2009-11-22,NaT,62930,11,NaN,NaN,NaN,NaT,NaT,NaN,NaN
11,Suzan,Power,12,2009-12-23,2017-05-22,32565,12,NaN,NaN,NaN,NaT,NaT,NaN,NaN
12,Bob,Marely,13,2010-01-20,2017-07-20,88355,13,NaN,NaN,NaN,NaT,NaT,NaN,NaN
13,Mike,Tayson,14,2010-02-03,2017-09-25,65915,14,NaN,NaN,NaN,NaT,NaT,NaN,NaN
14,Zuo,Yang,15,2010-02-12,2017-09-25,66808,15,NaN,NaN,NaN,NaT,NaT,NaN,NaN
15,Armin,Roberson,16,2010-03-20,2017-09-25,97364,16,NaN,NaN,NaN,NaT,NaT,NaN,NaN
16,Kale,Matteo,17,2010-04-15,2017-11-22,99235,17,NaN,NaN,NaN,NaT,NaT,NaN,NaN
17,Rahul,Thomas,18,2010-05-22,2018-04-15,72014,18,NaN,NaN,NaN,NaT,NaT,NaN,NaN
18,Kumar,Joshua,19,2010-07-20,2018-05-20,97559,19,NaN,NaN,NaN,NaT,NaT,NaN,NaN
19,Joseph,Charles,20,2010-08-13,2018-05-22,11732,20,NaN,NaN,NaN,NaT,NaT,NaN,NaN
20,Patil,Keera,21,2010-09-25,2018-08-13,33185,21,NaN,NaN,NaN,NaT,NaT,NaN,NaN
21,Dew,Ryan,22,2010-10-09,2018-11-22,67463,22,NaN,NaN,NaN,NaT,NaT,NaN,NaN
22,Francis,Rynolds,23,2010-11-22,2018-11-22,78038,23,NaN,NaN,NaN,NaT,NaT,NaN,NaN
23,David,Adrian,24,2010-12-23,NaT,19346,24,NaN,NaN,NaN,NaT,NaT,NaN,NaN
24,Ina,Eli,25,2011-05-22,NaT,51172,25,NaN,NaN,NaN,NaT,NaT,NaN,NaN
25,Meena,Santiago,26,2011-07-20,NaT,34620,26,NaN,NaN,NaN,NaT,NaT,NaN,NaN
26,Mina,Robert,27,2011-08-13,NaT,31320,27,NaN,NaN,NaN,NaT,NaT,NaN,NaN
27,Prakash,Roberto,28,2011-09-25,2019-11-22,46871,28,NaN,NaN,NaN,NaT,NaT,NaN,NaN
28,Mary,Carlos,29,2011-10-09,2019-08-13,17930,29,NaN,NaN,NaN,NaT,NaT,NaN,NaN
29,Toona,Mathias,30,2011-11-22,2019-08-13,65572,30,NaN,NaN,NaN,NaT,NaT,NaN,NaN
30,Marely,Cooper,31,2011-12-23,2019-10-09,49603,31,NaN,NaN,NaN,NaT,NaT,NaN,NaN
31,Saif,Ian,32,2012-01-20,2019-10-09,61156,32,NaN,NaN,NaN,NaT,NaT,NaN,NaN
32,Ahmed,Adam,33,2012-02-03,2019-11-22,59491,33,NaN,NaN,NaN,NaT,NaT,NaN,NaN
33,Anton,Harry,34,2012-03-14,2013-07-20,75454,34,NaN,NaN,NaN,NaT,NaT,NaN,NaN
34,Andrea,Willis,35,2012-03-20,2013-08-13,56689,35,NaN,NaN,NaN,NaT,NaT,NaN,NaN
35,Karla,Olivier,37,2012-04-15,NaT,81505,37,NaN,NaN,NaN,NaT,NaT,NaN,NaN
36,Efthimus,James,36,2012-04-15,2014-01-20,17075,37,NaN,NaN,NaN,NaT,NaT,NaN,NaN
37,Christine,Liam,38,2012-05-22,NaT,36336,38,NaN,NaN,NaN,NaT,NaT,NaN,NaN
38,Tooby,Nelson,39,2012-07-20,NaT,50438,39,NaN,NaN,NaN,NaT,NaT,NaN,NaN
39,Mounir,Logan,40,2013-04-15,NaT,49481,40,NaN,NaN,NaN,NaT,NaT,NaN,NaN
40,Marin,Robert,41,2013-05-22,2018-12-23,44682,41,NaN,NaN,NaN,NaT,NaT,NaN,NaN
41,Katherine,Roberto,42,2013-05-22,2018-12-23,49940,42,NaN,NaN,NaN,NaT,NaT,NaN,NaN
42,Kevin,Carlos,43,2013-07-20,2019-01-20,59049,43,Anton,Harry,34.0,2012-03-14,2013-07-20,75454.0,34.0
43,Hend,Mathias,44,2013-08-13,2019-03-20,18052,44,Andrea,Willis,35.0,2012-03-20,2013-08-13,56689.0,35.0
44,Michael,Cooper,45,2013-09-10,2019-05-22,37526,45,NaN,NaN,NaN,NaT,NaT,NaN,NaN
45,Kero,Ian,46,2013-09-10,2015-09-10,25456,46,NaN,NaN,NaN,NaT,NaT,NaN,NaN
46,Emad,Adam,47,2013-09-25,2015-09-10,47730,47,NaN,NaN,NaN,NaT,NaT,NaN,NaN
47,Mostafa,Ahmed,48,2013-10-09,2016-01-20,66984,48,NaN,NaN,NaN,NaT,NaT,NaN,NaN
48,Nguyen,Trung,49,2013-11-22,2016-03-20,10681,49,NaN,NaN,NaN,NaT,NaT,NaN,NaN
49,Bauer,Miller,50,2013-12-23,NaT,79504,50,NaN,NaN,NaN,NaT,NaT,NaN,NaN
50,Muller,Schau,51,2014-01-20,NaT,50413,51,Efthimus,James,36.0,2012-04-15,2014-01-20,17075.0,37.0
51,Macron,Jared,52,2014-01-22,NaT,72369,52,NaN,NaN,NaN,NaT,NaT,NaN,NaN
52,Biden,Joe,53,2014-02-03,2014-12-23,21682,53,NaN,NaN,NaN,NaT,NaT,NaN,NaN
53,Angela,Maton,54,2014-03-20,2015-01-20,78888,54,NaN,NaN,NaN,NaT,NaT,NaN,NaN
54,Lucas,Merkel,55,2014-05-20,2015-02-03,54515,55,NaN,NaN,NaN,NaT,NaT,NaN,NaN
55,William,Charles,56,2014-08-13,2015-03-14,28929,56,NaN,NaN,NaN,NaT,NaT,NaN,NaN
56,Kate,Medlton,57,2014-09-25,2016-01-20,13656,57,NaN,NaN,NaN,NaT,NaT,NaN,NaN
57,Harry,Frank,58,2014-10-09,2016-03-20,83225,58,NaN,NaN,NaN,NaT,NaT,NaN,NaN
58,Willis,Franklin,59,2014-11-22,2016-04-15,65429,59,NaN,NaN,NaN,NaT,NaT,NaN,NaN
59,James,Power,60,2014-12-23,2016-07-20,94279,60,Biden,Joe,53.0,2014-02-03,2014-12-23,21682.0,53.0
60,Olivier,Twist,61,2015-01-20,2016-01-20,86639,61,Angela,Maton,54.0,2014-03-20,2015-01-20,78888.0,54.0
61,Liam,Mark,62,2015-02-03,NaT,33719,62,Lucas,Merkel,55.0,2014-05-20,2015-02-03,54515.0,55.0
62,Nelson,Liam,63,2015-03-14,NaT,81449,63,William,Charles,56.0,2014-08-13,2015-03-14,28929.0,56.0
63,Logan,Kent,64,2015-04-10,NaT,43329,64,NaN,NaN,NaN,NaT,NaT,NaN,NaN
64,Levi,Carlos,65,2015-04-10,NaT,85538,65,NaN,NaN,NaN,NaT,NaT,NaN,NaN
65,Leo,Sky,66,2015-07-20,2018-05-22,16453,66,NaN,NaN,NaN,NaT,NaT,NaN,NaN
69,Robertson,James,68,2015-09-10,2018-11-22,47608,68,Emad,Adam,47.0,2013-09-25,2015-09-10,47730.0,47.0
68,Robertson,James,68,2015-09-10,2018-11-22,47608,68,Kero,Ian,46.0,2013-09-10,2015-09-10,25456.0,46.0
67,Jackson,Robertson,67,2015-09-10,2018-08-13,29087,67,Emad,Adam,47.0,2013-09-25,2015-09-10,47730.0,47.0
66,Jackson,Robertson,67,2015-09-10,2018-08-13,29087,67,Kero,Ian,46.0,2013-09-10,2015-09-10,25456.0,46.0
70,Matteo,Lebron,69,2016-01-20,2018-11-22,34516,69,Mostafa,Ahmed,48.0,2013-10-09,2016-01-20,66984.0,48.0
71,Matteo,Lebron,69,2016-01-20,2018-11-22,34516,69,Kate,Medlton,57.0,2014-09-25,2016-01-20,13656.0,57.0
72,Matteo,Lebron,69,2016-01-20,2018-11-22,34516,69,Olivier,Twist,61.0,2015-01-20,2016-01-20,86639.0,61.0
73,Thomas,Lucas,70,2016-03-20,2018-12-23,13355,70,Nguyen,Trung,49.0,2013-11-22,2016-03-20,10681.0,49.0
74,Thomas,Lucas,70,2016-03-20,2018-12-23,13355,70,Harry,Frank,58.0,2014-10-09,2016-03-20,83225.0,58.0
75,Joshua,William,71,2016-04-15,2018-12-23,53431,71,Willis,Franklin,59.0,2014-11-22,2016-04-15,65429.0,59.0
77,Keera,Harry,73,2016-07-20,NaT,53579,73,James,Power,60.0,2014-12-23,2016-07-20,94279.0,60.0
76,Charles,Eli,72,2016-07-20,2019-01-20,64311,72,James,Power,60.0,2014-12-23,2016-07-20,94279.0,60.0
78,Ryan,Willis,74,2016-10-09,2017-07-20,51723,74,NaN,NaN,NaN,NaT,NaT,NaN,NaN
79,Rynolds,James,75,2016-12-23,2017-09-25,38049,75,NaN,NaN,NaN,NaT,NaT,NaN,NaN
80,Adrian,Olivier,76,2017-01-22,NaT,77673,76,NaN,NaN,NaN,NaT,NaT,NaN,NaN
81,Eli,Liam,77,2017-02-03,NaT,69482,77,NaN,NaN,NaN,NaT,NaT,NaN,NaN
82,Santiago,Nelson,78,2017-04-15,2019-05-22,63628,78,Moe,Down,7.0,2009-07-20,2017-04-15,83668.0,7.0
83,Robert,Logan,79,2017-05-22,2019-08-13,54247,79,Suzan,Power,12.0,2009-12-23,2017-05-22,32565.0,12.0
84,Roberto,Levi,80,2017-07-20,2019-08-13,70955,80,Bob,Marely,13.0,2010-01-20,2017-07-20,88355.0,13.0
85,Roberto,Levi,80,2017-07-20,2019-08-13,70955,80,Ryan,Willis,74.0,2016-10-09,2017-07-20,51723.0,74.0
96,Cooper,Duet,83,2017-09-25,2019-05-22,80015,83,Armin,Roberson,16.0,2010-03-20,2017-09-25,97364.0,16.0
95,Cooper,Duet,83,2017-09-25,2019-05-22,80015,83,Zuo,Yang,15.0,2010-02-12,2017-09-25,66808.0,15.0
94,Cooper,Duet,83,2017-09-25,2019-05-22,80015,83,Mike,Tayson,14.0,2010-02-03,2017-09-25,65915.0,14.0
93,Mathias,Francis,82,2017-09-25,2019-10-09,49826,82,Rynolds,James,75.0,2016-12-23,2017-09-25,38049.0,75.0
92,Mathias,Francis,82,2017-09-25,2019-10-09,49826,82,Armin,Roberson,16.0,2010-03-20,2017-09-25,97364.0,16.0
97,Cooper,Duet,83,2017-09-25,2019-05-22,80015,83,Rynolds,James,75.0,2016-12-23,2017-09-25,38049.0,75.0
90,Mathias,Francis,82,2017-09-25,2019-10-09,49826,82,Mike,Tayson,14.0,2010-02-03,2017-09-25,65915.0,14.0
89,Carlos,Leo,81,2017-09-25,2019-10-09,29742,81,Rynolds,James,75.0,2016-12-23,2017-09-25,38049.0,75.0
88,Carlos,Leo,81,2017-09-25,2019-10-09,29742,81,Armin,Roberson,16.0,2010-03-20,2017-09-25,97364.0,16.0
87,Carlos,Leo,81,2017-09-25,2019-10-09,29742,81,Zuo,Yang,15.0,2010-02-12,2017-09-25,66808.0,15.0
86,Carlos,Leo,81,2017-09-25,2019-10-09,29742,81,Mike,Tayson,14.0,2010-02-03,2017-09-25,65915.0,14.0
91,Mathias,Francis,82,2017-09-25,2019-10-09,49826,82,Zuo,Yang,15.0,2010-02-12,2017-09-25,66808.0,15.0
98,Ian,Rolls,84,2017-11-22,2019-08-13,60708,84,Kale,Matteo,17.0,2010-04-15,2017-11-22,99235.0,17.0
99,Adam,Matteo,85,2018-04-15,2019-08-13,85493,85,Rahul,Thomas,18.0,2010-05-22,2018-04-15,72014.0,18.0
100,Eve,John,86,2018-05-20,NaT,88919,86,Kumar,Joshua,19.0,2010-07-20,2018-05-20,97559.0,19.0
101,Kai,Luca,87,2018-05-22,NaT,24875,87,Joseph,Charles,20.0,2010-08-13,2018-05-22,11732.0,20.0
102,Kai,Luca,87,2018-05-22,NaT,24875,87,Leo,Sky,66.0,2015-07-20,2018-05-22,16453.0,66.0
104,Wang,Wu,88,2018-08-13,2019-05-22,46309,88,Jackson,Robertson,67.0,2015-09-10,2018-08-13,29087.0,67.0
103,Wang,Wu,88,2018-08-13,2019-05-22,46309,88,Patil,Keera,21.0,2010-09-25,2018-08-13,33185.0,21.0
105,Lee,Chen,89,2018-11-22,2019-08-13,26181,89,Dew,Ryan,22.0,2010-10-09,2018-11-22,67463.0,22.0
106,Lee,Chen,89,2018-11-22,2019-08-13,26181,89,Francis,Rynolds,23.0,2010-11-22,2018-11-22,78038.0,23.0
107,Lee,Chen,89,2018-11-22,2019-08-13,26181,89,Robertson,James,68.0,2015-09-10,2018-11-22,47608.0,68.0
108,Lee,Chen,89,2018-11-22,2019-08-13,26181,89,Matteo,Lebron,69.0,2016-01-20,2018-11-22,34516.0,69.0
109,Zhao,Liu,90,2018-11-22,2019-08-13,31389,90,Dew,Ryan,22.0,2010-10-09,2018-11-22,67463.0,22.0
110,Zhao,Liu,90,2018-11-22,2019-08-13,31389,90,Francis,Rynolds,23.0,2010-11-22,2018-11-22,78038.0,23.0
111,Zhao,Liu,90,2018-11-22,2019-08-13,31389,90,Robertson,James,68.0,2015-09-10,2018-11-22,47608.0,68.0
112,Zhao,Liu,90,2018-11-22,2019-08-13,31389,90,Matteo,Lebron,69.0,2016-01-20,2018-11-22,34516.0,69.0
118,Sana,Pital,92,2018-12-23,NaT,16781,92,Katherine,Roberto,42.0,2013-05-22,2018-12-23,49940.0,42.0
120,Sana,Pital,92,2018-12-23,NaT,16781,92,Joshua,William,71.0,2016-04-15,2018-12-23,53431.0,71.0
119,Sana,Pital,92,2018-12-23,NaT,16781,92,Thomas,Lucas,70.0,2016-03-20,2018-12-23,13355.0,70.0
117,Sana,Pital,92,2018-12-23,NaT,16781,92,Marin,Robert,41.0,2013-05-22,2018-12-23,44682.0,41.0
115,Ishaan,Kumar,91,2018-12-23,2019-10-09,38024,91,Thomas,Lucas,70.0,2016-03-20,2018-12-23,13355.0,70.0
114,Ishaan,Kumar,91,2018-12-23,2019-10-09,38024,91,Katherine,Roberto,42.0,2013-05-22,2018-12-23,49940.0,42.0
113,Ishaan,Kumar,91,2018-12-23,2019-10-09,38024,91,Marin,Robert,41.0,2013-05-22,2018-12-23,44682.0,41.0
116,Ishaan,Kumar,91,2018-12-23,2019-10-09,38024,91,Joshua,William,71.0,2016-04-15,2018-12-23,53431.0,71.0
121,Jaya,Ananya,93,2019-01-20,NaT,16729,93,Kevin,Carlos,43.0,2013-07-20,2019-01-20,59049.0,43.0
122,Jaya,Ananya,93,2019-01-20,NaT,16729,93,Charles,Eli,72.0,2016-07-20,2019-01-20,64311.0,72.0
123,Mohamed,Saeed,94,2019-03-20,NaT,99912,94,Hend,Mathias,44.0,2013-08-13,2019-03-20,18052.0,44.0
124,Ismail,Bakr,95,2019-05-22,2019-10-09,43651,95,Michael,Cooper,45.0,2013-09-10,2019-05-22,37526.0,45.0
125,Ismail,Bakr,95,2019-05-22,2019-10-09,43651,95,Santiago,Nelson,78.0,2017-04-15,2019-05-22,63628.0,78.0
126,Ismail,Bakr,95,2019-05-22,2019-10-09,43651,95,Cooper,Duet,83.0,2017-09-25,2019-05-22,80015.0,83.0
127,Ismail,Bakr,95,2019-05-22,2019-10-09,43651,95,Wang,Wu,88.0,2018-08-13,2019-05-22,46309.0,88.0
135,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Zhao,Liu,90.0,2018-11-22,2019-08-13,31389.0,90.0
134,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Lee,Chen,89.0,2018-11-22,2019-08-13,26181.0,89.0
132,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Ian,Rolls,84.0,2017-11-22,2019-08-13,60708.0,84.0
133,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Adam,Matteo,85.0,2018-04-15,2019-08-13,85493.0,85.0
130,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Robert,Logan,79.0,2017-05-22,2019-08-13,54247.0,79.0
129,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Toona,Mathias,30.0,2011-11-22,2019-08-13,65572.0,30.0
128,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Mary,Carlos,29.0,2011-10-09,2019-08-13,17930.0,29.0
131,Markos,Tomas,96,2019-08-13,2019-11-22,43825,96,Roberto,Levi,80.0,2017-07-20,2019-08-13,70955.0,80.0
147,Amira,Kamal,99,2019-10-09,NaT,39133,99,Ismail,Bakr,95.0,2019-05-22,2019-10-09,43651.0,95.0
146,Amira,Kamal,99,2019-10-09,NaT,39133,99,Ishaan,Kumar,91.0,2018-12-23,2019-10-09,38024.0,91.0
145,Amira,Kamal,99,2019-10-09,NaT,39133,99,Mathias,Francis,82.0,2017-09-25,2019-10-09,49826.0,82.0
144,Amira,Kamal,99,2019-10-09,NaT,39133,99,Carlos,Leo,81.0,2017-09-25,2019-10-09,29742.0,81.0
143,Amira,Kamal,99,2019-10-09,NaT,39133,99,Saif,Ian,32.0,2012-01-20,2019-10-09,61156.0,32.0
142,Amira,Kamal,99,2019-10-09,NaT,39133,99,Marely,Cooper,31.0,2011-12-23,2019-10-09,49603.0,31.0
140,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Ishaan,Kumar,91.0,2018-12-23,2019-10-09,38024.0,91.0
139,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Mathias,Francis,82.0,2017-09-25,2019-10-09,49826.0,82.0
138,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Carlos,Leo,81.0,2017-09-25,2019-10-09,29742.0,81.0
137,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Saif,Ian,32.0,2012-01-20,2019-10-09,61156.0,32.0
136,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Marely,Cooper,31.0,2011-12-23,2019-10-09,49603.0,31.0
141,Sameer,Mostafa,98,2019-10-09,NaT,51824,98,Ismail,Bakr,95.0,2019-05-22,2019-10-09,43651.0,95.0
151,Sawsan,Ahmed,100,2019-11-22,NaT,64677,100,Prakash,Roberto,28.0,2011-09-25,2019-11-22,46871.0,28.0
150,Anton,Darios,97,2019-11-22,NaT,55637,97,Markos,Tomas,96.0,2019-08-13,2019-11-22,43825.0,96.0
152,Sawsan,Ahmed,100,2019-11-22,NaT,64677,100,Ahmed,Adam,33.0,2012-02-03,2019-11-22,59491.0,33.0
148,Anton,Darios,97,2019-11-22,NaT,55637,97,Prakash,Roberto,28.0,2011-09-25,2019-11-22,46871.0,28.0
149,Anton,Darios,97,2019-11-22,NaT,55637,97,Ahmed,Adam,33.0,2012-02-03,2019-11-22,59491.0,33.0
153,Sawsan,Ahmed,100,2019-11-22,NaT,64677,100,Markos,Tomas,96.0,2019-08-13,2019-11-22,43825.0,96.0

In [199]:
# create the total termination values where 'hire date = termination date' is enqual 1
q['total_termination']=0
q.loc[(q3['hire_date_x']==q['termination_date_y']),'total_termination']=1

In [200]:
# create the actual employee
q['actual_employees'] = q['number_employee_x']-q['total_termination']

In [205]:
# remove the redundant columns and rename for easily understanding
q.iloc[:,[2,0,1,3,6,-1]].rename(columns={'id_x':'id','first_name_x':'first_name','last_name_x':'last_name','number_employee_x':'greatest_number_employee','hire_date_x':'hire_date'})

,id,first_name,last_name,hire_date,greatest_number_employee,actual_employees
0,1,Bob,Smith,2009-02-03,1,1
1,2,Joe,Jarrod,2009-02-03,2,2
2,3,Nancy,Soley,2009-02-03,3,3
3,5,Kelly,Smalls,2009-02-03,5,5
4,4,Keith,Widjaja,2009-04-15,4,4
5,6,Frank,Nguyen,2009-06-20,6,6
6,7,Moe,Down,2009-07-20,7,7
7,8,Joe,Carlos,2009-08-13,8,8
8,9,Karen,Adam,2009-09-25,9,9
9,10,Smith,John,2009-10-09,10,10
10,11,Nataly,Joe,2009-11-22,11,11
11,12,Suzan,Power,2009-12-23,12,12
12,13,Bob,Marely,2010-01-20,13,13
13,14,Mike,Tayson,2010-02-03,14,14
14,15,Zuo,Yang,2010-02-12,15,15
15,16,Armin,Roberson,2010-03-20,16,16
16,17,Kale,Matteo,2010-04-15,17,17
17,18,Rahul,Thomas,2010-05-22,18,18
18,19,Kumar,Joshua,2010-07-20,19,19
19,20,Joseph,Charles,2010-08-13,20,20
20,21,Patil,Keera,2010-09-25,21,21
21,22,Dew,Ryan,2010-10-09,22,22
22,23,Francis,Rynolds,2010-11-22,23,23
23,24,David,Adrian,2010-12-23,24,24
24,25,Ina,Eli,2011-05-22,25,25
25,26,Meena,Santiago,2011-07-20,26,26
26,27,Mina,Robert,2011-08-13,27,27
27,28,Prakash,Roberto,2011-09-25,28,28
28,29,Mary,Carlos,2011-10-09,29,29
29,30,Toona,Mathias,2011-11-22,30,30
30,31,Marely,Cooper,2011-12-23,31,31
31,32,Saif,Ian,2012-01-20,32,32
32,33,Ahmed,Adam,2012-02-03,33,33
33,34,Anton,Harry,2012-03-14,34,34
34,35,Andrea,Willis,2012-03-20,35,35
35,37,Karla,Olivier,2012-04-15,37,37
36,36,Efthimus,James,2012-04-15,37,37
37,38,Christine,Liam,2012-05-22,38,38
38,39,Tooby,Nelson,2012-07-20,39,39
39,40,Mounir,Logan,2013-04-15,40,40
40,41,Marin,Robert,2013-05-22,41,41
41,42,Katherine,Roberto,2013-05-22,42,42
42,43,Kevin,Carlos,2013-07-20,43,42
43,44,Hend,Mathias,2013-08-13,44,43
44,45,Michael,Cooper,2013-09-10,45,45
45,46,Kero,Ian,2013-09-10,46,46
46,47,Emad,Adam,2013-09-25,47,47
47,48,Mostafa,Ahmed,2013-10-09,48,48
48,49,Nguyen,Trung,2013-11-22,49,49
49,50,Bauer,Miller,2013-12-23,50,50
50,51,Muller,Schau,2014-01-20,51,50
51,52,Macron,Jared,2014-01-22,52,52
52,53,Biden,Joe,2014-02-03,53,53
53,54,Angela,Maton,2014-03-20,54,54
54,55,Lucas,Merkel,2014-05-20,55,55
55,56,William,Charles,2014-08-13,56,56
56,57,Kate,Medlton,2014-09-25,57,57
57,58,Harry,Frank,2014-10-09,58,58
58,59,Willis,Franklin,2014-11-22,59,59
59,60,James,Power,2014-12-23,60,59
60,61,Olivier,Twist,2015-01-20,61,60
61,62,Liam,Mark,2015-02-03,62,61
62,63,Nelson,Liam,2015-03-14,63,62
63,64,Logan,Kent,2015-04-10,64,64
64,65,Levi,Carlos,2015-04-10,65,65
65,66,Leo,Sky,2015-07-20,66,66
66,67,Jackson,Robertson,2015-09-10,67,66
67,67,Jackson,Robertson,2015-09-10,67,66
68,68,Robertson,James,2015-09-10,68,67
69,68,Robertson,James,2015-09-10,68,67
70,69,Matteo,Lebron,2016-01-20,69,68
71,69,Matteo,Lebron,2016-01-20,69,68
72,69,Matteo,Lebron,2016-01-20,69,68
73,70,Thomas,Lucas,2016-03-20,70,69
74,70,Thomas,Lucas,2016-03-20,70,69
75,71,Joshua,William,2016-04-15,71,70
76,72,Charles,Eli,2016-07-20,72,71
77,73,Keera,Harry,2016-07-20,73,72
78,74,Ryan,Willis,2016-10-09,74,74
79,75,Rynolds,James,2016-12-23,75,75
80,76,Adrian,Olivier,2017-01-22,76,76
81,77,Eli,Liam,2017-02-03,77,77
82,78,Santiago,Nelson,2017-04-15,78,77
83,79,Robert,Logan,2017-05-22,79,78
84,80,Roberto,Levi,2017-07-20,80,79
85,80,Roberto,Levi,2017-07-20,80,79
86,81,Carlos,Leo,2017-09-25,81,80
87,81,Carlos,Leo,2017-09-25,81,80
88,81,Carlos,Leo,2017-09-25,81,80
89,81,Carlos,Leo,2017-09-25,81,80
90,82,Mathias,Francis,2017-09-25,82,81
91,82,Mathias,Francis,2017-09-25,82,81
92,82,Mathias,Francis,2017-09-25,82,81
93,82,Mathias,Francis,2017-09-25,82,81
94,83,Cooper,Duet,2017-09-25,83,82
95,83,Cooper,Duet,2017-09-25,83,82
96,83,Cooper,Duet,2017-09-25,83,82
97,83,Cooper,Duet,2017-09-25,83,82
98,84,Ian,Rolls,2017-11-22,84,83
99,85,Adam,Matteo,2018-04-15,85,84
100,86,Eve,John,2018-05-20,86,85
101,87,Kai,Luca,2018-05-22,87,86
102,87,Kai,Luca,2018-05-22,87,86
103,88,Wang,Wu,2018-08-13,88,87
104,88,Wang,Wu,2018-08-13,88,87
105,89,Lee,Chen,2018-11-22,89,88
106,89,Lee,Chen,2018-11-22,89,88
107,89,Lee,Chen,2018-11-22,89,88
108,89,Lee,Chen,2018-11-22,89,88
109,90,Zhao,Liu,2018-11-22,90,89
110,90,Zhao,Liu,2018-11-22,90,89
111,90,Zhao,Liu,2018-11-22,90,89
112,90,Zhao,Liu,2018-11-22,90,89
113,91,Ishaan,Kumar,2018-12-23,91,90
114,91,Ishaan,Kumar,2018-12-23,91,90
115,91,Ishaan,Kumar,2018-12-23,91,90
116,91,Ishaan,Kumar,2018-12-23,91,90
117,92,Sana,Pital,2018-12-23,92,91
118,92,Sana,Pital,2018-12-23,92,91
119,92,Sana,Pital,2018-12-23,92,91
120,92,Sana,Pital,2018-12-23,92,91
121,93,Jaya,Ananya,2019-01-20,93,92
122,93,Jaya,Ananya,2019-01-20,93,92
123,94,Mohamed,Saeed,2019-03-20,94,93
124,95,Ismail,Bakr,2019-05-22,95,94
125,95,Ismail,Bakr,2019-05-22,95,94
126,95,Ismail,Bakr,2019-05-22,95,94
127,95,Ismail,Bakr,2019-05-22,95,94
128,96,Markos,Tomas,2019-08-13,96,95
129,96,Markos,Tomas,2019-08-13,96,95
130,96,Markos,Tomas,2019-08-13,96,95
131,96,Markos,Tomas,2019-08-13,96,95
132,96,Markos,Tomas,2019-08-13,96,95
133,96,Markos,Tomas,2019-08-13,96,95
134,96,Markos,Tomas,2019-08-13,96,95
135,96,Markos,Tomas,2019-08-13,96,95
136,98,Sameer,Mostafa,2019-10-09,98,97
137,98,Sameer,Mostafa,2019-10-09,98,97
138,98,Sameer,Mostafa,2019-10-09,98,97
139,98,Sameer,Mostafa,2019-10-09,98,97
140,98,Sameer,Mostafa,2019-10-09,98,97
141,98,Sameer,Mostafa,2019-10-09,98,97
142,99,Amira,Kamal,2019-10-09,99,98
143,99,Amira,Kamal,2019-10-09,99,98
144,99,Amira,Kamal,2019-10-09,99,98
145,99,Amira,Kamal,2019-10-09,99,98
146,99,Amira,Kamal,2019-10-09,99,98
147,99,Amira,Kamal,2019-10-09,99,98
148,97,Anton,Darios,2019-11-22,97,96
149,97,Anton,Darios,2019-11-22,97,96
150,97,Anton,Darios,2019-11-22,97,96
151,100,Sawsan,Ahmed,2019-11-22,100,99
152,100,Sawsan,Ahmed,2019-11-22,100,99
153,100,Sawsan,Ahmed,2019-11-22,100,99