# Find the number of processed and not-processed complaints of each type

Find the number of processed and non-processed complaints of each type.
Replace NULL values with 0s.
Output the complaint type along with the number of processed and not-processed complaints.

In [1]:
import pandas as pd
import numpy as np
q=pd.read_csv('facebook_complaints.csv') # read the fb table
q

   complaint_id  type  processed
0             0     0          1
1             1     0          1
2             2     0          0
3             3     1          1
4             4     1          1
5             5     1          0

In [6]:
q.groupby(['type','processed']).complaint_id.count().reset_index(name='count')

   type  processed  count
0     0          0      1
1     0          1      2
2     1          0      1
3     1          1      2