# Minimum Number of Platforms



You are given a day worth of scheduled departure and arrival times of trains at one train station. One platform can only accommodate one train from the beginning of the minute it's scheduled to arrive until the end of the minute it's scheduled to depart. Find the minimum number of platforms necessary to accommodate the entire scheduled traffic.

In [2]:
import pandas as pd
import numpy as np
a=pd.read_csv('train_arrivals.csv')
d=pd.read_csv('train_departures.csv')

You are given a day worth of scheduled departure and arrival times of trains at one train station. One platform can only accommodate one train from the beginning of the minute it's scheduled to arrive until the end of the minute it's scheduled to depart. Find the minimum number of platforms necessary to accommodate the entire scheduled traffic.

In [7]:
q=pd.merge(a,d)
q[['arrival_time','departure_time']]=q[['arrival_time','departure_time']].apply(pd.to_datetime)
q

    train_id        arrival_time      departure_time
0          1 2023-01-15 08:00:00 2023-01-15 08:15:00
1          2 2023-01-15 08:05:00 2023-01-15 08:10:00
2          3 2023-01-15 08:05:00 2023-01-15 08:20:00
3          4 2023-01-15 08:10:00 2023-01-15 08:25:00
4          5 2023-01-15 08:10:00 2023-01-15 08:20:00
5          6 2023-01-15 12:15:00 2023-01-15 13:00:00
6          7 2023-01-15 12:20:00 2023-01-15 12:25:00
7          8 2023-01-15 12:25:00 2023-01-15 12:30:00
8          9 2023-01-15 15:00:00 2023-01-15 15:05:00
9         10 2023-01-15 15:00:00 2023-01-15 15:10:00
10        11 2023-01-15 15:00:00 2023-01-15 15:15:00
11        12 2023-01-15 15:06:00 2023-01-15 15:15:00
12        13 2023-01-15 20:00:00 2023-01-15 20:15:00
13        14 2023-01-15 20:10:00 2023-01-15 20:15:00

In [95]:
plant_need=0
for i in range(len(q)):
    for j in range(1,len(q)):
        if j-i==1:
            if q.arrival_time[j] <= q.arrival_time[i] and q.arrival_time[j] <= q.departure_time[i]:
                plant_need +=1
    
plant_need

4

In [93]:
q.arrival_time[1]<q.arrival_time[0]

False

In [89]:
for i in range(5):
    for j in range(5):
        if j-i==1:
            print(i,j)

0 1
1 2
2 3
3 4

In [94]:
plant_need=0
for i in range(len(q)):
    for j in range(1,len(q)):
        if j>i:
            if q.arrival_time[j] <= q.arrival_time[i] and q.arrival_time[j] <= q.departure_time[i]:
                plant_need +=1
    
plant_need

5

In [90]:
for i in range(5):
    for j in range(5):
        if j>i:
            print(i,j)

0 1
0 2
0 3
0 4
1 2
1 3
1 4
2 3
2 4
3 4

In [155]:
# Program to find minimum number of platforms
# required on a railway station
 
 
def findPlatform(arr, dep, n):
    '''
    Accepts two arrays with arrival and departure time
    and the size of the array
    Returns minimum number of platforms required
    '''
 
    # plat_needed indicates number of platforms
    # needed at a time
    plat_needed = 1
    result = 1
 
    # run a nested loop to find overlap
    for i in range(n):
        # minimum platform needed
        plat_needed = 1
 
        for j in range(n):
            # check for overlap
            if i != j:
                if (arr[i] >= arr[j] and dep[j] >= arr[i]):
                    plat_needed += 1
 
        # update result
        result = max(result, plat_needed)
 
    return result
 
# Driver code
 
 
def main():
    arr = [100, 300, 500]
    dep = [900, 400, 600]
 
    n = len(arr)
 
    print("{}".format(
        findPlatform(arr, dep, n)))
 
 
if __name__ == '__main__':
    main()

[8]