# Revenue Over Time

Find the 3-month rolling average of total revenue from purchases given a table with users, their purchase amount, and date purchased. Do not include returns which are represented by negative purchase values. Output the year-month (YYYY-MM) and 3-month rolling average of revenue, sorted from earliest month to latest month.


A 3-month rolling average is defined by calculating the average total revenue from all user purchases for the current month and previous two months. The first two months will not be a true 3-month rolling average since we are not given data from last year. Assume each month has at least one purchase.

In [94]:
import pandas as pd
import numpy as np
q=pd.read_csv('amazon_purchases.csv')

In [95]:
# change datatype of 'created_at' column
q.created_at=q.created_at.apply(pd.to_datetime)

In [96]:
# apply the year-motnh (YYYY-MM) format
q.created_at=q.created_at.dt.strftime('%Y-%m')

In [97]:
# filter out the return order (purchase_amt<0)
q=q[q['purchase_amt']>0]

In [98]:
# find the total purchase by groupby 'created_at'
q.groupby(['created_at']).mean()['purchase_amt'].reset_index()
q=q.groupby(['created_at']).mean()['purchase_amt'].reset_index().rename(columns={'purchase_amt':'avg_purchase_amt'})

In [99]:
# create a rolling avg_purchase of rolling 3 month
q['3-month_rolling_amt']=q['avg_purchase_amt'].rolling(3).sum()

In [100]:
# sort value from earliest to latest month
q.sort_values(by=['created_at'],ascending=False)
q

  created_at  avg_purchase_amt  3-month_rolling_amt
0    2020-01       3756.000000                  NaN
1    2020-02       2586.875000                  NaN
2    2020-03       3291.111111          9633.986111
3    2020-04       3133.285714          9011.271825
4    2020-05       2470.000000          8894.396825
5    2020-06       3460.875000          9064.160714
6    2020-07       3163.625000          9094.500000
7    2020-08       2610.666667          9235.166667
8    2020-09       3546.714286          9321.005952
9    2020-10       3062.000000          9219.380952