# Find the list of intersections between both word lists


Find the list of intersections between both word lists.

In [23]:
import pandas as pd
import numpy as np
q=pd.read_csv('google_word_lists.csv')
q

                      words1                 words2
0  google,facebook,microsoft      flower,nature,sun
1                 sun,nature           google,apple
2                beach,photo  facebook,green,orange
3                flower,star       photo,sunglasses

In [24]:
q=pd.concat([q.words1,q.words2])

In [61]:
q=pd.DataFrame(q).rename(columns={0:'content'})
q

                     content
0  google,facebook,microsoft
1                 sun,nature
2                beach,photo
3                flower,star
0          flower,nature,sun
1               google,apple
2      facebook,green,orange
3           photo,sunglasses

In [74]:
q.content.str.find(',')

0    6
1    3
2    5
3    6
0    6
1    6
2    8
3    5
Name: content, dtype: int64