# Words With Two Vowels


Find all words which contain exactly two vowels in any list in the table.

In [1]:
import pandas as pd
import numpy as np
q=pd.read_csv('google_word_lists.csv')
q

                      words1                 words2
0  google,facebook,microsoft      flower,nature,sun
1                 sun,nature           google,apple
2                beach,photo  facebook,green,orange
3                flower,star       photo,sunglasses

In [2]:
# create a dataframe
q=pd.DataFrame(pd.concat([q.words1,q.words2])).rename(columns={0:'content'})
q

                     content
0  google,facebook,microsoft
1                 sun,nature
2                beach,photo
3                flower,star
0          flower,nature,sun
1               google,apple
2      facebook,green,orange
3           photo,sunglasses

In [3]:
# combine all values into a varriable
content=q.content.str.cat(sep=',')
content

'google,facebook,microsoft,sun,nature,beach,photo,flower,star,flower,nature,sun,google,apple,facebook,green,orange,photo,sunglasses'

In [4]:
# split into a signle word byb separator ','
words=content.split(',')
words

['google',
 'facebook',
 'microsoft',
 'sun',
 'nature',
 'beach',
 'photo',
 'flower',
 'star',
 'flower',
 'nature',
 'sun',
 'google',
 'apple',
 'facebook',
 'green',
 'orange',
 'photo',
 'sunglasses']

'g'

In [6]:
for word in words:
    if word[0] in 'aeiou':
        print(word)

apple
orange

In [ ]:
result=[]

for i in letter_list.letter.values: # get iterates letters
    x=content.count(i) # find the total occurrences of content of each letter
    result.append(i) # save the result into a list
number

In [ ]:
content